<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Fala +
    %body.container-fluid#main-content
        %header.mdc-top-app-bar
            %div.mdc-top-app-bar__row
                %section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                    %button.material-icons.mdc-top-app-bar__navigation-icon.mdc-icon-button menu
                    %span.mdc-top-app-bar__title Algo aqui
                %section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button favorite
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button search
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button more_vert
        %div#um.bloco.a
            %div.centrado
                %h1 FALA MAIS 1
                %p Troque mensangens em salas exclusivas
                %a.btn.btn-primary{ :href => "#dois", :title => "Parte 2" } Vamos para parte 2
        %div#dois.bloco.b
            %div.centrado
                %h1 FALA MAIS PARTE 2
                %p Troque mensangens em salas exclusivas
                %a.btn.btn-primary{ :href => "#tres", :title => "Parte 2" } Vamos para parte 3
        %div#tres.bloco.c
            %div.centrado
                %h1 FALA MAIS PARTE 3
                %p Troque mensangens em salas exclusivas
                %a.btn.btn-primary{ :href => "#um", :title => "Parte 1" } Voltar para parte 1