<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Fala +
    %body.container-fluid#main-content
        %header.mdc-top-app-bar
            %div.mdc-top-app-bar__row
                %section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                    %button.material-icons.mdc-top-app-bar__navigation-icon.mdc-icon-button menu
                    %span.mdc-top-app-bar__title Algo aqui
                %section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button favorite
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button search
                    %button.material-icons.mdc-top-app-bar__action-item.mdc-icon-button more_vert
        %div.centrado
            %h1 FALA MAIS
            %p Troque mensangens em salas exclusivas
            %button.btn.btn-primary Crie uma sala 